<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redinput.batteryclock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <receiver android:name=".BatteryClockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />

                <action android:name="com.lge.android.intent.action.ACCESSORY_COVER_EVENT"/>
            </intent-filter>
        </receiver>

        <service android:name=".UpdateService" />

    </application>

</manifest>
